@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.ag-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}

.main-header {
  height: 89px;
  width: 100%;
  position: fixed;
  z-index: 105;
  top: 0;
  background-color: rgba(0, 0, 0, 0.85);
}

.ag-nav {
  display: flex;
  justify-content: space-between;
  height: 89px;
  align-items: center;
}

.ag-nav.user {
  justify-content: center !important;
}

.ag-main-logo {
  height: 30px;
  width: 160.29px;
}
.ag-main-logo svg {
  width: 100%;
}

ul.ag-menu {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
}

li.ag-menulink {
  color: #ffffff;
  font-family: "Baloo Bhai 2";
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.6px;
  line-height: 29px;
  padding: 0 2rem 0 0;
}
li.ag-menulink a {
  color: white;
}

.ag-circled-menu {
  height: 40px;
  width: 40px;
  background-color: #cd1a1d;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.ag-home {
  width: 100%;
  height: 1000px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.65)), url("./Assets/1st-Banner-Background.jpg") no-repeat 40% 12%;
  padding-top: 209px;
  position: relative;
}

.ag-fixed-icons {
  position: absolute;
  bottom: 11rem;
  right: 3rem;
  z-index: 100;
}

.ag-circle-icons {
  height: 50px;
  width: 50px;
  background-color: transparent;
  border-radius: 50%;
}
.ag-circle-icons img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.ag-circle-icons i {
  font-size: 1.2rem;
  color: white;
  text-align: center;
}

.ag-circle-icons.phone {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cd1a1d;
  margin-bottom: 1rem;
}

.ag-intro {
  width: 250px;
  color: #ffffff;
  font-family: "Baloo Bhai 2";
  font-size: 70px;
  font-weight: 600;
  letter-spacing: -2.67px;
  line-height: 69px;
}

.ag-btn {
  height: 50px;
  width: 350px;
  font-family: "Baloo Bhai 2";
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.53px;
  line-height: 26px;
  text-align: center;
  outline: 0;
  border: 0;
  border-radius: 6px;
  display: block;
  margin-top: 1.5rem;
}

.ag-btn.white {
  background-color: white !important;
  color: #57555c;
}

.ag-btn.bordered {
  border: 1px solid #dce1e7;
  background-color: #ffffff;
  color: #57555c;
}

.ag-btn.red {
  background-color: #cd1a1d !important;
  color: white;
}

.bottom-content {
  margin-top: 3.7rem;
  height: 239.24px;
  width: 100%;
  opacity: 0.85;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: linear-gradient(180deg, rgba(232, 56, 62, 0) 0%, #cd1a1d 100%);
}

.ag-social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5rem;
}
.ag-social-icons i {
  color: #ffffff;
  font-family: "Font Awesome 5 Brands";
  font-size: 25.6px;
  letter-spacing: -0.95px;
  line-height: 19.5px;
  text-align: center;
  margin-right: 1.5rem;
}
.ag-social-icons i:last-child {
  margin-right: 0;
}

.ag-rights {
  color: #ffffff;
  font-family: "Baloo Bhai 2";
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.47px;
  line-height: 23px;
  text-align: center;
  margin-bottom: 1rem;
}

.login-body {
  background-color: #f6f6f6;
  width: 100%;
  height: 100%;
  padding: 10rem 0;
}

.ag-login {
  height: 674px;
  width: 1000px;
  border-radius: 80px;
  margin: 0 auto;
  background-color: #ffffff;
  padding-top: 65px;
}

.ag-login-text {
  height: 48px;
  color: #000000;
  font-family: "Baloo Bhai 2";
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 48px;
  text-align: center;
}

.ag-login-img {
  height: 400px;
  width: 235.64px;
  margin-top: 84px;
}
.ag-login-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.ag-form-label {
  color: rgba(0, 0, 0, 0.6);
  font-family: "Baloo Bhai 2";
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 23px;
  display: block;
}

.formbox {
  margin-bottom: 1rem;
  position: relative;
}
.formbox i.fa {
  right: 2rem;
  top: 60%;
  position: absolute;
  color: rgba(0, 0, 0, 0.3);
}

.ag-formfield, .select-box.user select {
  box-sizing: border-box;
  height: 50px;
  width: 100%;
  border: 1px solid #cfcfcf;
  border-radius: 10px;
  background-color: #ffffff;
  color: #000000;
  font-family: Nunito;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 19px;
  padding: 0 1rem;
  outline: 0;
}

.ag-formfield.text-field, .select-box.user select.text-field {
  border: 1px solid #cfcfcf;
  border-radius: 10px;
  background-color: #ffffff;
  width: 100%;
  min-height: 120px;
  padding: 1rem;
  resize: none;
}

.login-form {
  margin-top: 148px;
}

.user-oval {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  background-color: red;
  position: relative;
}
.user-oval img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.user-name {
  color: #000000;
  font-family: "Baloo Bhai 2";
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 48px;
  text-align: center;
  margin-bottom: 0;
}

.username {
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  align-items: center;
}
.username i {
  display: none;
  color: #cd1a1d;
  font-family: "Font Awesome 5 Pro";
  font-size: 12px;
  letter-spacing: 0;
  line-height: 13px;
  margin-left: 0.3rem;
}

.username.verified i {
  display: block;
}

.user-loc {
  height: 31px;
  width: 100%;
  border-radius: 10px;
  background-color: rgba(216, 216, 216, 0.13);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.ag-role {
  color: rgba(0, 0, 0, 0.7);
  font-family: "Baloo Bhai 2";
  font-size: 14px;
  letter-spacing: -0.47px;
  line-height: 20px;
  text-align: center;
}

.ag-location {
  color: rgba(0, 0, 0, 0.7);
  font-family: "Baloo Bhai 2";
  font-size: 14px;
  letter-spacing: -0.47px;
  line-height: 20px;
  text-align: center;
  position: relative;
}
.ag-location::before {
  content: "";
  position: relative;
  color: #cd1a1d;
  font-family: "Font Awesome 5 Pro";
  font-size: 12px;
  letter-spacing: 0;
  line-height: 13px;
  margin-right: 0.3rem;
  font-weight: bold;
}

.user-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-ratings {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
}

.rate {
  color: #000000;
  font-family: "Baloo Bhai 2";
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.6px;
  line-height: 20px;
  text-align: center;
}

.tins {
  color: #000000;
  font-family: "Baloo Bhai 2";
  font-size: 14px;
  letter-spacing: -0.47px;
  line-height: 20px;
  text-align: center;
}
.tins::before {
  content: "";
  position: relative;
  color: #000000;
  font-family: "Font Awesome 5 Pro";
  font-size: 6px;
  letter-spacing: -0.2px;
  line-height: 6px;
  margin: 0 0.3rem;
  font-weight: bold;
}

.user-about {
  width: 100%;
  text-align: left;
}

.about-title {
  color: #000000;
  font-family: "Baloo Bhai 2";
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.53px;
  line-height: 26px;
}

.about-text {
  color: #000000;
  font-family: "Baloo Bhai 2";
  font-size: 14px;
  letter-spacing: -0.47px;
  line-height: 20px;
}

.contact-box {
  margin: 1rem auto;
}

.loged-in {
  margin-top: 8rem;
}

.user-btn {
  background-color: #fafafa;
  width: 100%;
  min-height: 40px;
  border-radius: 6px;
  border: 0;
  outline: 0;
  color: #000000;
  font-family: "Baloo Bhai 2";
  font-size: 14px;
  letter-spacing: -0.47px;
  line-height: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  padding: 0 1rem;
}
.user-btn i {
  margin-right: 1.5rem;
}
.user-btn .fa-star {
  color: #e4e9f2;
}

.user-btn.wa {
  color: #515052;
  font-family: "Baloo Bhai 2";
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.47px;
  line-height: 23px;
  text-align: center;
  justify-content: center;
  background-color: rgba(85, 205, 108, 0.1);
  margin-top: 1rem;
}
.user-btn.wa img {
  height: 20px;
  width: auto;
  margin-right: 1rem;
}

.user-btn.bordered {
  border: 1px solid #dce1e7;
  background-color: #ffffff;
  color: rgba(37, 36, 39, 0.8);
  font-family: "Baloo Bhai 2";
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.53px;
  line-height: 26px;
  justify-content: center;
  text-align: center;
}

.user-social-icons {
  display: flex;
  justify-content: center;
  margin: 2rem auto;
}

.user-social-icons i {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1.5rem;
}
.user-social-icons i:last-child {
  margin-right: 0;
}

.fb {
  background-color: #4267b2;
}

.ig {
  background-color: #d62976;
}

.tw {
  background-color: #55acee;
}

.yt {
  background-color: #ff0000;
}

.ln {
  background-color: #0e76a8;
}

.flex-item {
  display: flex;
  justify-content: space-between;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  align-items: center;
  width: 100%;
}

.user-red-btn {
  height: 40px;
  background-color: #cd1a1d;
  padding: 0 1.5rem;
  color: #ffffff;
  font-family: "Baloo Bhai 2";
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.53px;
  line-height: 20px;
  border-radius: 6px;
  outline: 0;
  border: 0;
}
.user-red-btn i {
  color: white;
  font-size: 14px;
  letter-spacing: -0.47px;
  line-height: 20px;
  margin-right: 2rem;
}

.ag-search-box {
  position: relative;
}
.ag-search-box i {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
}

.ag-search {
  box-sizing: border-box;
  height: 40px;
  width: 244px;
  border: 1px solid #dce1e7;
  border-radius: 4px;
  background-color: #ffffff;
  color: #252427;
  font-family: "Baloo Bhai 2";
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 22.1px;
  padding: 0 3rem;
  outline: 0;
}

.ag-note {
  color: rgba(25, 25, 25, 0.6);
  font-family: "Baloo Bhai 2";
  font-size: 14px;
  letter-spacing: 0;
  line-height: 18px;
  margin: 1.2rem 0;
}

.tabs {
  height: 48px;
  width: 100%;
  border-radius: 4.8px;
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  padding: 5px;
  margin-bottom: 2rem;
  cursor: pointer;
}
.tabs .texts.current {
  color: #cd1a1d;
  font-family: "Baloo Bhai 2";
  font-size: 16.8px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 26.52px;
  text-align: center;
  opacity: 1;
}
.tabs .texts {
  opacity: 0.5;
  color: #191919;
  font-family: "Baloo Bhai 2";
  font-size: 16.8px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 26.52px;
  text-align: center;
  z-index: 2;
}

.tab-bar {
  width: 49.6%;
  position: absolute;
  height: 85%;
  transform: translateX(-50%);
  border-radius: 2.4px;
  background-color: #ffffff;
  box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.tab-bar.req {
  transform: translateX(50%);
}

.listing-cards {
  min-height: 18rem;
  width: 100%;
  border-radius: 7.56px;
  background-color: #ffffff;
  box-shadow: 0 23px 36px 3px rgba(0, 0, 0, 0.14);
  margin-bottom: 1.5rem;
  cursor: pointer;
  box-sizing: content-box;
}

.listing-cards.request {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.listing-cover-img {
  height: 8rem;
  width: 100%;
  border-radius: 7.56px 7.56px 0 0;
  position: relative;
}
.listing-cover-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 7.56px 7.56px 0 0;
}

.listing-info {
  padding: 1rem 1rem 0.5rem;
}

.listing-title {
  color: #252427;
  font-family: "Baloo Bhai 2";
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 18.9px;
  margin-bottom: 1rem;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #dce1e7;
  margin-bottom: 0.7rem;
}

.feature-title {
  color: #252427;
  font-family: "Baloo Bhai 2";
  font-size: 14px;
  letter-spacing: 0;
  line-height: 18.9px;
  margin-left: 0.5rem;
}

.feature-group {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}

.feature-sing {
  display: flex;
  margin-right: 1.5rem;
  margin-bottom: 0.5rem;
  min-width: 40%;
}
.feature-sing:last-child {
  margin-right: 0;
}
.feature-sing i {
  color: #cd1a1d;
}

.listing-btn {
  display: flex;
  justify-content: space-between;
}

.list-no-color-btn,
.list-color-btn {
  width: 48%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 0;
  border-radius: 5.5px;
}

.list-no-color-btn {
  color: rgba(37, 36, 39, 0.5);
  font-family: "Baloo Bhai 2";
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.53px;
  line-height: 26px;
  text-align: center;
  border: 1px solid #dce1e7;
  background-color: white;
}

.list-color-btn {
  color: #ffffff;
  font-family: "Baloo Bhai 2";
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.53px;
  line-height: 26px;
  text-align: center;
  background-color: #cd1a1d;
  border: 0;
}

.title-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
}

.listing-location {
  border-radius: 3.78px 0 0 3.78px;
  background-color: #cd1a1d;
  padding: 0.2rem 0.8rem;
  color: #ffffff;
  font-family: "Baloo Bhai 2";
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 18.9px;
  position: absolute;
  top: 20%;
  right: 0;
  height: 24px;
}

.ag-space {
  margin-top: 6rem;
}

.ag-network-card {
  height: 83px;
  width: 100%;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.07);
  display: flex;
  padding: 0 1.5rem;
  align-items: center;
  margin: 1rem auto;
}

.network-oval {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #cd1a1d;
  position: relative;
}
.network-oval img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.crown-oval {
  box-sizing: border-box;
  height: 21px;
  width: 21px;
  border: 0.7px solid #ffffff;
  border-radius: 50%;
  background-color: #cd1a1d;
  position: absolute;
  top: -5%;
  right: -5%;
}

.network-name {
  color: #000000;
  font-family: "Baloo Bhai 2";
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.6px;
  line-height: 20px;
}

.network-loc {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Baloo Bhai 2";
  font-size: 14px;
  letter-spacing: -0.47px;
  line-height: 18px;
}

.net-bd {
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  align-items: center;
}
.net-bd i {
  color: #cd1a1d;
  font-family: "Font Awesome 5 Pro";
  font-size: 6px;
  letter-spacing: 0;
  line-height: 6px;
  margin-left: 1rem;
  margin-bottom: 0.8rem;
}

.flex {
  display: flex;
  align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.flex-unristricted {
  display: flex;
  align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.network-details {
  margin-left: 1.5rem;
}

.ang {
  height: 14px;
  width: 5.41px;
  color: #cd1a1d;
  font-family: "Font Awesome 5 Pro";
  font-size: 14px;
  letter-spacing: -0.47px;
  line-height: 14px;
  text-align: right;
}

select.numb {
  border: 0;
  outline: 0;
  position: absolute;
  top: 55%;
  left: 2%;
}

.ag-formfield.mb, .select-box.user select.mb {
  padding: 0 2rem;
}

.checktext {
  color: #191919;
  font-family: "Baloo Bhai 2";
  font-size: 14px;
  letter-spacing: 0;
  line-height: 18px;
  margin-bottom: 0 !important;
  margin-left: 0.5rem;
}
.checktext a {
  color: #cd1a1d;
}

.checkbox {
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  align-items: center;
  margin-bottom: 1rem;
  position: relative;
}
.checkbox [type=checkbox] {
  width: 21px;
  height: 21px;
  position: unset;
  pointer-events: auto;
}
.checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 21px;
  width: 21px;
  border-radius: 4px;
  background-color: #eee;
  pointer-events: none;
}
.checkbox .checkmark::after {
  position: absolute;
  content: "";
  font-family: "Font Awesome 5 Pro";
  font-size: 10px;
  letter-spacing: -0.33px;
  line-height: 10px;
  text-align: center;
  font-weight: bold;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
}

.checkbox input:checked ~ .checkmark {
  background-color: #cd1a1d;
}
.checkbox input:checked ~ .checkmark::after {
  opacity: 1;
}

.checkbox input ~ .checkmark::after {
  opacity: 0;
}

.oval-edit, .user-oval-edit {
  position: absolute;
  box-sizing: border-box;
  height: 44.33px;
  width: 44.24px;
  border: 2.4px solid #ffffff;
  border-radius: 50%;
  background-color: #cd1a1d;
  top: 0%;
  right: 0%;
}
.oval-edit::after, .user-oval-edit::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Font Awesome 5 Pro";
  font-size: 21.6px;
  letter-spacing: 0;
  line-height: 26.4px;
  text-align: center;
  font-weight: bold;
}

.user-oval-edit {
  position: relative;
  height: 140px;
  width: 140px;
  background-color: #d8d8d8;
}
.user-oval-edit::after {
  font-size: 40px;
}

.sign-instruction {
  color: #191919;
  font-family: "Baloo Bhai 2";
  font-size: 18px;
  letter-spacing: 0;
  line-height: 23px;
  text-align: center;
}

.email-verify-box {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.email-verified-img {
  height: 172px;
  width: 200px;
}
.email-verified-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.ag-side-nav {
  height: 100vh;
  width: 17%;
  background-color: #000000;
  position: fixed;
  left: -15%;
  top: 0;
  transition: 0.5s ease-in-out;
  z-index: 40;
}

.ag-side-nav.show {
  left: 0%;
}

.side-nav-content {
  padding: 2rem;
}

.admin-logo {
  height: 30px;
  width: 160.29px;
}
.admin-logo svg {
  width: 100%;
  height: 100%;
}

ul.sides {
  list-style: none;
  margin: 1rem 0 0;
  padding: 0;
}

.side-link {
  color: #ffffff;
  font-family: "Baloo Bhai 2";
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 20px;
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  align-items: center;
  padding: 0.5rem 0;
}
.side-link a {
  color: white;
}
.side-link i {
  color: white;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 20px;
  margin-right: 1rem;
}

.side-link.active i {
  color: #cd1a1d;
}

.body-content {
  margin-left: auto;
  width: 100%;
  background-color: #f6f6f6;
  min-height: 100vh;
  transition: 0.5s ease-in-out;
}

.top-nav {
  height: 70px;
  width: 100%;
  background-color: #ffffff;
}

.admin-container {
  width: 92%;
  margin: 0 auto;
  height: 100%;
}

.top-nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.ag-page {
  color: #000000;
  font-family: "Baloo Bhai 2";
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 20px;
  margin: 0;
}

.user-nav {
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  align-items: center;
}

.user-greetings {
  color: #000000;
  font-family: "Baloo Bhai 2";
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 20px;
  text-align: right;
  margin-right: 0.5rem;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.685);
  margin-right: 0.5rem;
}
.user-avatar img {
  width: 100%;
  border-radius: 50%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.admin-section {
  height: 20px;
  width: 108px;
  color: #000000;
  font-family: "Baloo Bhai 2";
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 20px;
  margin: 1rem 0;
  padding-left: 0.5rem;
}

.admin-card-group {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.admin-card {
  height: 100.88px;
  width: 260px;
  border-radius: 7.8px;
  background-color: #ffffff;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  margin: 0 1rem 1rem 0;
}

.card-name {
  color: #000000;
  font-family: "Baloo Bhai 2";
  font-size: 15.6px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 26px;
}

.card-rise {
  color: #18c13a;
  font-family: "Baloo Bhai 2";
  font-size: 10.4px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 18.2px;
  text-align: right;
}

.card-counts {
  color: #000000;
  font-family: "Baloo Bhai 2";
  font-size: 39px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 26px;
}

.admin-card-b {
  height: 130px;
  width: 140px;
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 0 1rem 1rem 0;
}

.card-name-b {
  color: #000000;
  font-family: "Baloo Bhai 2";
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 20px;
  text-align: center;
}

.litt {
  color: rgba(0, 0, 0, 0.5) !important;
}

.card-oval {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: red;
}
.card-oval img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.list-users {
  width: 20%;
  height: 100%;
}

.user-content-box {
  width: 79%;
  margin-left: auto;
  min-height: 784px;
  background-color: #ffffff;
  padding: 1rem 2rem;
}

.admin-search-bar, .admin-search-bar-2 {
  position: relative;
  width: 100%;
}
.admin-search-bar i, .admin-search-bar-2 i {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
}

.admin-search {
  height: 45px;
  width: 100%;
  background-color: #ffffff;
  border: 0;
  outline: 0;
  padding: 0 0 0 2.5rem;
  color: rgba(0, 0, 0, 0.301);
  font-family: "Baloo Bhai 2";
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 20px;
}

.user-box, .user-box-l {
  height: 40px;
  width: 100%;
  background-color: #ffffff;
  border-top: 1px solid rgba(36, 68, 115, 0.3);
  border-right: 1px solid rgba(36, 68, 115, 0.3);
  display: flex;
  align-items: center;
  padding-left: 1rem;
  color: black;
  font-family: "Baloo Bhai 2";
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 20px;
  cursor: pointer;
}
.user-box:hover, .user-box-l:hover {
  background-color: #cd1a1d;
  color: #ffffff;
}

.user-box-l {
  border-bottom: 1px solid rgba(36, 68, 115, 0.3);
  border-top: 0;
  border-right: 0;
}

.pagination {
  display: flex;
  margin: 0.8rem 0;
  justify-content: center;
}

.page-arrows, .page-number {
  box-sizing: border-box;
  height: 27px;
  width: 27px;
  border: 0.5px solid rgba(208, 208, 208, 0.24);
  border-radius: 2px 0 0 2px;
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.301);
  font-family: "Font Awesome 5 Pro";
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 14px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-number {
  color: #000000;
  font-family: "Baloo Bhai 2";
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 14px;
}

.nb {
  background-color: transparent;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 0;
  padding: 0 0.8rem;
}

.admin-tab {
  display: flex;
  width: 80%;
  margin-top: 1.5rem;
  border-bottom: 0.5px solid rgba(36, 68, 115, 0.1);
}

.single-admin-tab {
  height: 36px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 2rem;
  border-radius: 2px 16px 0 2px;
  background-color: rgba(36, 68, 115, 0.03);
  font-family: "Baloo Bhai 2";
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
  text-align: center;
  color: black;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.single-admin-tab.current {
  background-color: #cd1a1d;
  color: #ffffff;
}

.profile-tab-content {
  margin: 2rem 0;
}

.per-details {
  margin: 1rem 0;
}

.tab-label, .tab-text {
  color: rgba(15, 15, 15, 0.5);
  font-family: "Baloo Bhai 2";
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 16px;
  display: block;
}

.tab-text {
  color: #0f0f0f;
}

.checkbox-text {
  color: #6d7278;
  font-family: "Baloo Bhai 2";
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 20px;
  margin-right: 1rem;
}

.ag-checkbox {
  position: relative;
}

.switch {
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  align-items: center;
  margin-bottom: 1rem;
}

.ag-toggle {
  position: relative;
  display: inline-block;
  width: 2rem;
  height: 1.25rem;
  margin-bottom: 0;
}
.ag-toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #e6e6e6;
  border-radius: 10px;
  transition: 0.4s;
}
.slider::before {
  position: absolute;
  content: "";
  height: 1rem;
  width: 1rem;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: black;
}

input:checked + .slider::before {
  transform: translateX(80%);
}

.admin-rating {
  height: 73px;
  width: 175px;
  border-radius: 7.5px;
  background-color: #fafafa;
  padding: 1rem;
}
.admin-rating i {
  color: #e5eaf2;
}

.rate-text {
  color: #000000;
  font-family: "Baloo Bhai 2";
  font-size: 9px;
  font-weight: 600;
  letter-spacing: -0.3px;
  line-height: 14px;
  text-align: center;
}

.user-name-a {
  color: #000000;
  font-family: "Baloo Bhai 2";
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 30px;
  margin-bottom: 0;
}

.user-loc-a {
  height: 31px;
  width: 245px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  margin: 0 1rem;
  background-color: rgba(216, 216, 216, 0.13);
}

.user-red-btn-a {
  height: 40px;
  width: 180px;
  border-radius: 6px;
  background-color: #cd1a1d;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-family: "Baloo Bhai 2";
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.53px;
  line-height: 20px;
  border: 0;
  outline: 0;
}
.user-red-btn-a i {
  color: #ffffff;
  font-family: "Font Awesome 5 Pro";
  font-size: 14px;
  letter-spacing: -0.47px;
  line-height: 20px;
  text-align: center;
  margin-right: 0.5rem;
}

.network-tab-title {
  color: #000000;
  font-family: "Baloo Bhai 2";
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.53px;
  line-height: 26px;
}

.network-count {
  color: #000000;
  font-family: "Baloo Bhai 2";
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 20px;
}

.per-content {
  display: block;
  margin: 1rem 0;
}

.ag-thead {
  background-color: #f7f7f7;
  height: 43px;
}
.ag-thead tr th {
  color: #000000;
  font-family: "Baloo Bhai 2";
  vertical-align: middle;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  padding: 0 0.75rem;
  line-height: 26px;
}

tbody tr th {
  color: #000000;
  font-family: "Baloo Bhai 2";
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 20px;
}

tbody tr td {
  color: #000000;
  font-family: "Baloo Bhai 2";
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 20px;
}

.admin-search-bar-2 {
  outline: 0;
}
.admin-search-bar-2 i {
  left: 2%;
}

.property-search {
  box-sizing: border-box;
  height: 41px;
  width: 300px;
  border: 1px solid #000000;
  border-radius: 4px;
  background-color: #ffffff;
  color: #252427;
  font-family: "Baloo Bhai 2";
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 22.1px;
  padding: 0 3rem;
}

.modal-title {
  color: #000000;
  font-family: "Baloo Bhai 2";
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 34px;
}

.mod {
  color: #191919;
  font-family: "Font Awesome 5 Pro";
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 30px;
  text-align: right;
}

.single-form {
  margin: 0.25rem 0;
}

.admin-form {
  display: block;
  color: #191919;
  font-family: "Baloo Bhai 2";
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 37px;
  margin-bottom: 0.5rem;
}

.admin-form-field {
  height: 40px;
  width: 100%;
  border-radius: 4px;
  background-color: rgba(25, 25, 25, 0.03);
  border: 0;
  outline: 0;
  resize: none;
  padding: 1rem;
  color: #191919;
  font-family: "Baloo Bhai 2";
  font-size: 16px;
  letter-spacing: 0;
  line-height: 22px;
}

.admin-img-field {
  height: 71px;
  width: 71px;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 0;
  border-radius: 6px;
  background-color: #f8f8f8;
  position: relative;
  margin-right: 1rem;
}
.admin-img-field::before {
  content: "";
  position: absolute;
  color: #8d8d8d;
  font-family: "Font Awesome 5 Pro";
  font-size: 18px;
  letter-spacing: 0;
  line-height: 18px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.admin-img-field img {
  z-index: 2;
}

.h-unset {
  height: unset;
}

.select-box {
  position: relative;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.select-box select {
  width: 100%;
  height: 40px;
  border: 0;
  border-bottom: 2px solid black;
  outline: 0;
  background-color: #f8f8f8;
  padding: 0 1rem;
}
.select-box .arrow-box {
  width: 2rem;
  height: 100%;
  position: absolute;
  background-color: #f8f8f8;
  border-bottom: 2px solid black;
  top: 0;
  right: 0;
  pointer-events: none;
}
.select-box .arrow-box::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Font Awesome 5 Pro";
  font-size: 20px;
  letter-spacing: -0.33px;
  line-height: 10px;
  text-align: center;
}

.select-box.user .arrow-box {
  background-color: white;
  border: 1px solid #cfcfcf;
  border-left: 0;
  border-radius: 0 10px 10px 0;
}

.admin-update {
  height: 50px;
  width: 330px;
  border-radius: 6px;
  background-color: #cd1a1d;
  color: #ffffff;
  font-family: "Baloo Bhai 2";
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.53px;
  line-height: 26px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  outline: 0;
}

.ag-btn.bordered.re {
  color: #191919;
  font-family: "Baloo Bhai 2";
  font-size: 14.4px;
  font-weight: bold;
  letter-spacing: 0;
  height: 40px;
  line-height: 23px;
  text-align: center;
  border: 1.6px solid #191919;
  border-radius: 3.2px;
  background-color: rgba(255, 255, 255, 0);
}

.flex-center {
  display: flex;
  justify-content: center;
  height: 100%;
}

.modal-title.bold {
  color: #000000;
  font-family: "Baloo Bhai 2";
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 30px;
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  align-items: center;
}

.mod-lf {
  color: #191919;
  font-family: "Font Awesome 5 Pro";
  font-size: 20px;
  letter-spacing: 0;
  line-height: 21px;
  text-align: right;
  margin-right: 1.5rem;
}

.property-info-box {
  position: relative;
  margin-top: 2rem;
}

.property-img {
  width: 100%;
  height: 200px;
  border-radius: 4px;
}
.property-img img {
  height: 100%;
  width: 100%;
}

.property-details-box {
  border-radius: 4px;
  width: 96%;
  height: 100%;
  padding: 1rem;
  background-color: #ffffff;
  margin: 0 auto 0;
  transform: translateY(-50px);
  box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.17);
}

.property-box-title {
  height: 36px;
  width: 182px;
  color: #191919;
  font-family: "Baloo Bhai 2";
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 18px;
}

.property-box-sub {
  color: rgba(25, 25, 25, 0.4);
  font-family: "Baloo Bhai 2";
  font-size: 12px;
  letter-spacing: 0;
  line-height: 20px;
}
.property-box-sub i {
  margin-right: 0.5rem;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 20px;
  color: #cd1a1d;
}

.property-box-sub.b {
  color: #191919;
  font-size: 14px;
  font-weight: 500;
}

.property-price {
  color: #000000;
  font-family: "Baloo Bhai 2";
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 22.1px;
}

.desc-title {
  color: #191919;
  font-family: "Baloo Bhai 2";
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 18px;
  margin-top: 1.5rem;
}

.description-text {
  color: rgba(25, 25, 25, 0.8);
  font-family: "Baloo Bhai 2";
  font-size: 12px;
  letter-spacing: 0;
  line-height: 20px;
}

ul.desc {
  margin: 0 0 0 1rem;
}

.pic-tab {
  height: 151.97px;
  width: 150px;
  background-color: #515052;
  margin-right: 1rem;
}
.pic-tab:last-child {
  margin-right: 0;
}
.pic-tab img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.admin-action {
  height: 34px;
  width: 100%;
  background-color: #f8f9fa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  margin: 0.5rem 0;
}

.admin-action.wh {
  background-color: white;
}

.permision {
  color: #000000;
  font-family: "Baloo Bhai 2";
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 16px;
}

.login-image {
  height: 400px;
  width: 235.64px;
  margin: 2rem auto 0;
}
.login-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.dots {
  height: 5px;
  width: 5px;
  background-color: #ffffff;
  position: relative;
  border-radius: 50%;
}
.dots::before, .dots::after {
  height: 5px;
  width: 5px;
  background-color: #ffffff;
  content: "";
  position: absolute;
  border-radius: 50%;
}
.dots::before {
  transform: translateX(-160%);
}
.dots::after {
  transform: translateX(160%);
}

.right-side {
  display: flex;
}

.main-header.profile .ag-main-logo {
  justify-content: center;
}
.main-header.profile .right-side {
  display: none;
}

.profile-buttons {
  display: flex;
  flex-direction: column;
}

.referal {
  order: 2;
}

.user-red-btn.sh {
  order: 1;
}

.ag-btn.ed {
  order: 3;
}

.user-red-btn.pfy {
  position: unset;
}

.flex.divided {
  flex-direction: row;
}

.side-shift {
  position: absolute;
  width: 3rem;
  height: 3rem;
  background-color: black;
  top: 10%;
  right: -10%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.side-shift::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Font Awesome 5 Pro";
  font-weight: bold;
  font-size: 1.2rem;
}

.admin-body {
  width: 100%;
}

.admin-body.show .ag-side-nav {
  left: 0%;
}
.admin-body.show .body-content {
  width: 83%;
}

@media screen and (max-width: 1200px) {
  .admin-logo {
    width: 120px;
  }
}
@media screen and (max-width: 768px) {
  ul.ag-menu {
    display: none;
    flex-direction: column;
    position: fixed;
    background-color: white;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    align-items: flex-start;
    justify-content: start;
    padding: 7rem 0 0;
  }

  ul.ag-menu.show {
    display: flex;
  }

  li.ag-menulink {
    font-family: "Baloo Bhai 2";
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -0.47px;
    line-height: 33px;
    padding: 0.5rem 0 0.5rem 2rem;
  }
  li.ag-menulink a {
    color: black;
  }

  .main-header.profile .ag-main-logo {
    justify-content: flex-start;
  }
  .main-header.profile .right-side {
    display: block;
  }

  .ag-nav.user {
    justify-content: space-between !important;
  }

  .ag-circled-menu {
    position: fixed;
    z-index: 30;
    right: 5%;
    top: 4%;
  }

  .main-header.home {
    background-color: transparent;
  }

  .ag-intro {
    font-size: 60px;
    line-height: 60px;
  }

  .ag-home {
    padding-top: 100px;
  }

  .ag-fixed-icons {
    position: relative;
    bottom: unset;
    width: 100%;
    right: unset;
    margin: 1rem 0;
  }

  .ag-circle-icons {
    margin-left: auto;
  }

  .ag-btn {
    width: 100%;
  }

  .bottom-content {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }

  .ag-home {
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.65)), url(./Assets/1st-Banner-Background.jpg) no-repeat 40% 12%;
  }

  .ag-container {
    max-width: 90%;
  }

  .col-lg-4.ag-space,
.col-lg-8.ag-space,
.col-lg-6.ag-space {
    margin: 0;
  }

  .referal {
    order: 3;
  }

  .user-red-btn.sh {
    order: 1;
  }

  .ag-btn.ed {
    order: 2;
    margin-top: 0;
  }

  .user-red-btn.pfy {
    position: absolute;
    bottom: 0;
    width: 93%;
    z-index: 3;
    margin-bottom: 1rem;
  }

  .col-lg-6:last-of-type .listing-cards {
    margin-bottom: 5rem;
  }

  .login-body {
    padding: 5rem 0 0;
  }

  .login-form {
    margin-top: 2rem;
  }

  .ag-login {
    width: 100%;
    height: 100%;
    border-radius: 0;
    padding: 2rem 0;
  }

  .sign-instruction {
    margin-bottom: 2rem;
  }

  .ag-formfield, .select-box.user select {
    width: 100%;
  }

  .email-verified-img {
    height: 113px;
    width: 141px;
    margin-top: 2rem;
  }

  .email-verify-box {
    height: 60vh;
  }

  .user-name {
    line-height: unset;
  }

  .body-content {
    width: 100%;
  }

  .ag-side-nav {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    z-index: 40;
    left: -41%;
  }

  .admin-.show {
    left: 0%;
  }

  .list-users {
    width: 100%;
  }

  .user-content-box {
    width: 100%;
  }

  .admin-search-bar i,
.admin-search-bar-2 i {
    left: 5%;
  }

  .admin-tab {
    width: 100%;
  }

  .single-admin-tab {
    width: 100%;
  }

  .flex.divided,
.flex-item.divided {
    flex-direction: column;
  }

  .admin-section {
    width: 100%;
    text-align: center;
  }

  .admin-card {
    width: 100%;
  }

  .admin-card-group {
    justify-content: space-between;
  }

  .table-box {
    width: 100%;
    overflow: auto;
  }

  .property-search {
    width: 98%;
    margin-right: 2%;
  }

  .user-red-btn-a {
    width: 98%;
    margin-left: 2%;
    padding: 0 0.5rem;
    font-size: 14px;
  }

  .admin-logo {
    width: 120px;
  }
}
@media screen and (max-width: 380px) {
  .ag-side-nav {
    left: -45%;
  }
}