@import url("/src/styles/bootstrap.min.css");
@import url("/src/styles/mdb.min.css");
@import url("/src/styles/Style.css");

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
.ag-btn {
  /* display: block; */
  /* TODO: add this to the main css later */
  display: flex;
  justify-content: center;
  align-items: center;
}

.mt-10 {
  margin-top: 10rem !important;
}

.rating-size {
  font-size: 25px;
}

.img-trash {
  position: absolute;
  top: -5%;
  z-index: 1;
  right: 12%;
  color: #cd1a1d;
}

.img-trash-wrapper {
  position: relative;
}

.btn-circle.btn-sm {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  font-size: 8px;
  text-align: center;
}
.btn-circle.btn-md {
  width: 50px;
  height: 50px;
  padding: 7px 10px;
  border-radius: 25px;
  font-size: 10px;
  text-align: center;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 12px;
  text-align: center;
}

.scroll {
  width: 100%;
  height: 150px;
}
.horizontal-scrollable > .row {
  overflow-x: auto;
  white-space: nowrap;
  height: 90px;
}

.horizontal-scrollable > .row > .col-xs-4 {
  display: inline-block;
  float: none;
}
/* Decorations */

.col-xs-4 {
  color: white;
  font-size: 24px;
  padding-bottom: 20px;
  padding-top: 18px;
}

.flex{
  overflow: scroll;
  width: 400px;
  white-space: nowrap;
  height: 81px;
}